{% extends "base.html" %}

{% block title %}Formulario de Registro{% endblock %}
{% block header %}Registro de Usuario{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.nombre.label }}<br>
        {{ form.nombre(size=32) }}<br>
        {% if form.nombre.errors %}
            <span style="color: red;">{{ form.nombre.errors[0] }}</span>
        {% endif %}
    </p>

    <p>
        {{ form.correo.label }}<br>
        {{ form.correo(size=32) }}<br>
        {% if form.correo.errors %}
            <span style="color: red;">{{ form.correo.errors[0] }}</span>
        {% endif %}
    </p>

    <p>
        {{ form.contraseña.label }}<br>
        {{ form.contraseña(size=32) }}<br>
        {% if form.contraseña.errors %}
            <span style="color: red;">{{ form.contraseña.errors[0] }}</span>
        {% endif %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
{% endblock %}